/*font-family: "Scope One", serif; C*/

footer {
    background-color: rgb(184, 173, 155);
}

.hero {
  background: url(../img/78c89e28ce033700df86f729a0a087d9.jpg) no-repeat center center;
  background-size: cover;
  min-height: 900px;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-texto {
  margin-top: 240px;
  color: aliceblue;
}

html {
  scroll-behavior: smooth;
}


p {
    font-family: "Scope One", serif;
    font-size: 16px;
    margin-top: 40px;
}

.destacados {
    font-family: "Scope One", serif;
    font-weight: bold;
    font-size: 16px;
}

.margenes {
    margin-top: 50px;
    font-family: "Scope One", serif;

}

h2,
h3,
h5,
h4 {
    font-family: "Scope One", serif;
    font-weight: bold;

}

h6 {
    font-weight: lighter;
    font-family: "Scope One", serif;
}

/*#novedades,*/
#referencias,
#bosses,
#staff,
#almohadones,
#estilos,
#proyectos {
    margin-top: 20px;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}