<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Container estudio</a> </li>
        <li><a href="/proyectos">proyectos</a></li>
        <li><a href="/tienda">tienda</a></li>
        <li><a href="/servicios">servicios</a></li>
        <li><a href="/estudio">estudio</a></li>
      
      </ul>
    </nav>
  </body>
</html>
