<div class="container">
    <div class="row ">
        <div class="col mt-5 ms-3">
            <h3 class="margenes text-center">Textura y Diseño</h3>
            <h6 class="text-center"> Asesoramiento en telas, hilados, colores </h6>
        </div>
    </div>
</div>
<div class="container">
    <div id="almohadones" class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="img/tasse-l.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Aurum Helénico"</h5>
                    <p class="card-text">Un dúo de almohadones que combina el lujo del negro con el esplendor del
                        dorado, inspirados en la elegancia de la Grecia clásica. El detalle central en pasamanería
                        griega con flecos otorga un aire de distinción y carácter, ideal para ambientes sobrios con
                        acentos de sofisticación. Perfectos para realzar un sillón de cuero, una cama neutra o un rincón
                        de lectura con impronta clásica y atemporal..</p>
                </div>
            </div>
        </div>  
         <div class="col">
            <div class="card">
                <img src="img/tasse-l.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Aurum Helénico"</h5>
                    <p class="card-text">Un dúo de almohadones que combina el lujo del negro con el esplendor del
                        dorado, inspirados en la elegancia de la Grecia clásica. El detalle central en pasamanería
                        griega con flecos otorga un aire de distinción y carácter, ideal para ambientes sobrios con
                        acentos de sofisticación. Perfectos para realzar un sillón de cuero, una cama neutra o un rincón
                        de lectura con impronta clásica y atemporal..</p>
                </div>
            </div>
        </div>      
        <div class="col">
            <div class="card">
                <img src="img/c8b21be2e00fea336bd051933bee6356.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Estocolmo"</h5>
                    <p class="card-text">Diseño minimalista con franjas en blanco, gris, dorado y negro. Sofisticado y
                        moderno, ideal para ambientes nórdicos o urbanos con estilo.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/c8b21be2e00fea336bd051933bee6356.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Estocolmo"</h5>
                    <p class="card-text">Diseño minimalista con franjas en blanco, gris, dorado y negro. Sofisticado y
                        moderno, ideal para ambientes nórdicos o urbanos con estilo.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/e9518fa5-f807-418f-9c02-0f7b62629cc6.ea857fe26e0ca754de2b5a98e7a519fe.webp"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Esmeralda"</h5>
                    <p class="card-text">Almohadón de terciopelo verde profundo con costuras en diagonal y una franja
                        dorada central. Elegante y vibrante, perfecto para sumar lujo y textura.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/5eaa5e239ea5399632bbeeeb583c9e1c.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Perla Zigzag, Flor de Nieve, Arabesco"</h5>
                    <p class="card-text">Diseño en chevron bordado con cuentas. Elegante, delicado y perfecto para dar
                        un toque glam a camas o sillones en tonos neutros. Almohadón con flores en relieve suave y
                        etéreo su textura aporta calidez visual, perfecta para combinar.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/d12c8d44902f5c92d4970b447c262bcf.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Abeja Real y Colmena Gris"</h5>
                    <p class="card-text">Este modelo combina sobriedad y carácter con un diseño bordado de abeja sobre
                        lino claro. Ideal para quienes aman los detalles únicos y sofisticados. Con estructura
                        geométrica y tonos neutros, este almohadón evoca la precisión de una colmena. Aporta contraste y
                        estructura, complementando el diseño majestuoso de Abeja Real.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/tierras.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadones "Terra"</h5>
                    <p class="card-text">Hecho en lana tejida con motivos en relieve y cuadros, en tonos tierra y verdes
                        apagados. Aporta calidez y profundidad visual a todo tipo de espacios.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/arbol.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Fresno"</h5>
                    <p class="card-text">Estampado con ramas y hojas en tonos verdes sobre fondo marfil, este almohadón
                        transmite frescura y naturaleza. Ideal para ambientes cálidos, rincones de lectura o livings con
                        detalles botánicos..</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/0fbe389c564a1de850bcc58548f3689d.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Ondas de Seda"</h5>
                    <p class="card-text">Diseñado con una textura diagonal que genera movimiento visual, este modelo en
                        tono marfil aporta suavidad, elegancia y dinamismo a cualquier dormitorio o sofá de líneas
                        delicadas.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/d6a98c7615fb4decacd732a2b358540a.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Lino Dorado"e</h5>
                    <p class="card-text">Confeccionado en lino sintético color dorado tostado, este almohadón de acabado
                        sobrio y atemporal aporta presencia sin estridencias. Una pieza versátil para sumar textura y
                        calidez a tu decoración.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/pecan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Pecan"</h5>
                    <p class="card-text">Confeccionado en tela de algodón texturado color crudo, realzado con una cinta
                        de terciopelo color caramelo que lo atraviesa sutilmente. Ideal para aportar calidez y
                        sofisticación a camas o sillones en tonos neutros</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/b9425ee857a5bcf7fbc8f17f0a9410cb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Cuadro Ivory"</h5>
                    <p class="card-text">Minimalismo y textura se combinan en este almohadón de gamuza sintética color
                        marfil. Las costuras marcadas en forma de cuadrícula aportan un diseño moderno y limpio.
                        Perfecto para ambientes contemporáneos y luminosos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/809898eed1a56e03e291090614e3231f.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Almohadón "Chocolate Urbano"</h5>
                    <p class="card-text">De estilo moderno e impactante, este almohadón de gamuza en tono chocolate
                        oscuro incluye un diseño geométrico de costuras a tono. Viene en conjunto con un modelo más
                        pequeño para completar la escena. Ideal para un living elegante o un rincón de lectura con
                        personalidad.</p>
                </div>
            </div>
        </div>
    </div>
</div>