<div class="container overflow-hidden text-center">
    <div id="estilos" class="row justify-content-evenly">
        <div class="col-md-5 mt-0 ms-3">
            <img src="img/sugerencia'.jpg" class="margenes" alt="...">
        </div>
        <div class="col-md-5 mt-5 ms-3">
            <h3 class="margenes">Estilos</h3>
            <p>"Cada proyecto es único, y nuestro asesoramiento en cada etapa del proceso de diseño te ayudará a
                transformar ideas en espacios que transmitan identidad, armonía y confort reflejando tu estilo y
                personalidad."
            </p>
        </div>
    </div>
</div>