<div class="container overflow-hidden text-center">
    <div id="estilos" class="row justify-content-evenly">
        <div class="col-md-5 mt-0 ms-3">
            <img src="img/diseño.jpg" class="margenes" alt="...">
        </div>
        <div class="col-md-5 mt-5 ms-3">
            <h3 class="margenes">Estilos</h3>
            <p>En <span class="destacados">Container estudio </span>nos especializamos en proyectos de diversos estilos
                materiales para lograr reflejaren cada espacio la escencia de quien lo habita. Ergonomía,calidad y
                estética son nuestros pilares a la hora de desarrollar accesoriuos funcionales y perdurables en el
                tiempo.

                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima commodi soluta, nesciunt laborum
                adipisci labore. Ut voluptatibus veritatis necessitatibus iste est porro illo suscipit sint. Animi rerum
                accusamus ipsa nostrum!

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa unde dolor, a saepe, laborum
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi est dignissimos iste ea voluptatibus enim
                officia ipsa error libero.

            </p>
        </div>
    </div>
</div>