<div class="container overflow-hidden text-center">
    <div id="staff" class="row justify-content-evenly">
        <div class="col-md-5 mt-0 ms-3">
            <img src="img/todas.jpg" class="margenes" alt="...">
        </div>
        <div class="col-md-5 mt-5 ms-3">
            <h3 class="margenes">Equipo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit eum atque quasi cumque
                tenetur optio explicabo, temporibus ducimus distinctio. Sapiente vitae assumenda tempora quas sed optio,
                odio perferendis? Voluptatem.</p>
        </div>
    </div>
</div>