<div class="container-fluid">
  <div id="Container estudio" class="row align-items-center hero">
    <div class="col-lg-4 offset-lg-8 d-flex justify-content-center align-items-center hero-texto" style="height: 100%;">
      <p class="text-white fs-5">
        Espacios pensados para disfrutar.<br> Diseñamos <span class="destacados">almohadones y accesorios</span> que
        abrazan la calidez de los materiales nobles, las texturas suaves y los colores
        naturales.</p>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="margenes">Algunos Proyectos</h3>
    <div class="col">
      <div class="card h-100 shadow margenes" style="width: 18rem;">
        <img src="img/istockphoto-1190440285-612x612.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow margenes" style="width: 18rem;">
        <img src="img/istockphoto-1161177015-612x612.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow margenes" style="width: 18rem;">
        <img src="img/istockphoto-943910360-612x612.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- inicio nuestros servicios -->
<div class="container margenes">
  {{!-- <div id="nuestros servicios" class="row align-items-start py-4"> --}}
    {{!-- <div class="container text-start"> --}}
      <div class="row">
        <h3 class="margenes">Nuestros servicios</h3>
        <p>En <span class="destacados">Containers estudio</span> nos especializamos en crear accesorios únicos y con
          texturas que transformen tus espacios.

          Desde almohadones a mantas tejidos a mano con técnicas como crochet, tapestry o telar hasta diseños,
          texturas y colores con las mejores calidades de telas en nuestro catálogo virtual, que combinan diseño
          moderno y elegancia atemporal.

          Incorporamos las últimas tendencias para ofrecerte productos que sean duraderos, sofisticados y adaptados
          a tu estilo de vida.

          La dedicación y experiencia de nuestro equipo nos permiten guiarte en cada elección, asegurándonos de que
          cada accesorio refleje tu esencia y complemente perfectamente tus espacios.</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- fin de nuestros servicios -->
<!-- inicio de 2 imágenes-->
<div class="container margenes px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <figure class="figure">
        <img src="img/Sin título.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
      </figure>
    </div>
    <div class="col">
      <figure class="figure">
        <img src="img/verde.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
      </figure>
    </div>
  </div>
</div>
<!-- fin de 2 imágenes -->
<div class="container text-center">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p><span class="destacados">PROYECTA TUS ACCESORIOS</span> CON NOSOTRAS</p>
      <p>Completá el formulario con tus datos y contanos sobre tu proyecto. Nos pondremos en contacto para empezar a
        darle forma juntos.</p>
      <a href="/contacto#referencias" class="btn btn-outline-dark">FORMULARIO</a>

    </div>
  </div>
</div>
</div>