<div class="container-">
    <div id="novedades" class="row justify-content-evenly">
        <div class="col-md-5 mt-5 ms-3">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {{#each novedades}}
                    <div class="carousel-item {{#if @first}}active{{/if}}">
                        <img src="{{imagen}}" class="d-block w-100" alt="{{titulo}}">
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-5 mt-5 ms-3">
            <h3 class="margenes">Diseño y Textura</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio temporibus, consectetur quo laborum
                obcaecati vero dolore doloribus harum ab, maiores odit dolores vitae tempore voluptatibus consequuntur-
                placeat quisquam culpa laboriosam.</p>

        </div>
    </div>
</div>