<div class="container-fluid">
    <div id="proyectos" class="row mb-3">
        <div class="col">
            <img src="img/photo-1631679706909-1844bbd07221.jpg" class="img-thumbnail" alt="Imagen principal">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6 col-md-4">
            <img src="img/azules.jpg" class="img-thumbnail" alt="Azules">
        </div>
        <div class="col-6 col-md-4">
            <img src="img/istockphoto-1333060261-612x612.jpg" class="img-thumbnail" alt="IStock Photo">
        </div>
        <div class="col-6 col-md-4">
            <img src="img/bluue.jpg" class="img-thumbnail" alt="Bluue">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-7">
            <img src="img/depto.jpg" class="img-thumbnail" alt="Depto">
        </div>
        <div class="col-md-5">
            <img src="img/blanco.jpg" class="img-thumbnail" alt="Interior">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-7">
            <img src="img/img-618865669-1683318631-52e6f6bd2a2aba07ec2ffc388ba4365e1683318631.jpg" class="img-thumbnail"
                alt="...">
        </div>
        <div class="col-md-5">
            <img src="img/crem.jpg" class="img-thumbnail" alt="...">
        </div>
    </div>

</div>