<div class="container overflow-hidden text-center">
    <div id="bosses" class="row justify-content-evenly">
        <div class="col-md-5 mt-0 ms-3">
            <img src="img/nosotras.jpg" class="margenes" alt="...">
        </div>
        <div class="col-md-5 mt-5 ms-3">
            <h3 class="margenes">Quiénes somos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quia reiciendis aliquam, quisquam nobis
                delectus, libero, vitae earum sapiente unde repellat similique nulla! Eaque unde delectus mollitia amet
                magni rerum?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima commodi soluta, nesciunt laborum
                adipisci labore. Ut voluptatibus veritatis necessitatibus iste est porro illo suscipit sint. Animi rerum
                accusamus ipsa nostrum!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa unde dolor, a saepe, laborum
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi est dignissimos iste ea voluptatibus enim
                officia ipsa error libero.

            </p>
            <div class="container">
                <div class="row justify-content-evenly">
                    <div class="col-6">
                        <h5 class="margenes">Andrea Policitas</h5>
                        <h6>DISEÑADORA DE INTERIORES</h6>
                    </div>
                    <div class="col-6">
                        <h5 class="margenes">Paula Dorrego</h5>
                        <h6>DISEÑADORA TEXTIL</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>